.element__delete-button {
    width: 18px;
    height: 19px;
    cursor: pointer;
    background-image: url(../../../images/element__delete-button.svg);
    background-repeat: no-repeat;
    background-size: 18px 19px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    position: absolute;
    top: 20px;
    right: 20px;
}

.element__delete-button:hover {
    opacity: 0.8;
}