.popup__save-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #fff;
    margin: 0;
}

@media all and (max-width:879px) {
    .popup__save-text {
        font-size: 14px;
        line-height: 17px;
    }
}