.profile {
    max-width: 880px;
    margin: 40px auto 50px;
    display: flex;
    max-height: 120px;
}

@media all and (max-width:879px) {
    .profile {
        max-width: 282px;
        margin: 42px auto 36px;
        max-height: 286px;
        flex-direction: column;
    }
}