.element__like-button {
    width: 22px;
    height: 19px;
    cursor: pointer;
    background-image: url(../../../images/element__like-button.svg);
    background-repeat: no-repeat;
    background-size: 22px 19px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.element__like-button:hover {
    opacity: 0.8;
}